body{
	background-color:#F5F7FA;
}

.navbar {
	display: flex;
	align-items: center;
	gap: 125px;
	justify-content: center;
	background-color:#00205B;
	color: #FFFFFF;
 
}

.HIF{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

#fpc{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

h1, h2, h3, h4, h5{
    font-family: 'Bungee', sans-serif;
}
h1{
	font-size:32px;
	
}

img {
	height:450px;
	width:450px;
	
	border-radius: 25px;
	
}

h3 {
	font-size:48px;
	margin-bottom: 0;
	color:#00205B;
}
.rh{
	margin-left:200px;
}

#RSubtext {
	font-size:20px;
	margin-left:200px;
	font-weight: normal;
	margin-top: 0;
}
#HSubtext {
	font-size:20px;
	font-weight: normal;
	margin-top: 0;
}


h4 {
	font-size:36px;
	font-weight: bold;
	margin-left:250px;
	color:#00205B;
}

p {
	font-size:24px;
	font-weight: 600;
	font-family: 'Changa', sans-serif;
	
}
.GIT {
	display: flex;
	align-items: center;
	gap: 100px;
	margin-left:350px;
}

#footertext{
	font-weight:normal;
	text-align: center;
	margin-top: 150px;
	padding: 50px;
	border-top: 4px solid #00205B;
	width: 1000px;
	margin-left: 185px;
	color:#00205B;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out; 
}

a:hover {
    transform: scale(1.2); 
	color: #1473E6;
}

#fpc h5 { 
	color: #00205B;
}


.ht{
	text-align: center;
	color:#00205B;
}

.fpt {
	font-size:18px;
}

.hgt{
	font-size:20px;
	font-weight: normal;
	
	
	
}

.about-box{
	 text-align: center;
	 padding-left: 125px;
	padding-right:125px ;
}

p {
	color:#333333
}

#about-title{
	text-align: center;
}

label{
	font-size: 15px;
	 font-family: 'Bungee', sans-serif;
}

	

/* All Games Page*/
#game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.game-card {
    width: calc(16.666% - 20px);
    text-align: center;
}

.game-card img {
    width: 100%;
    height: auto;
    display: block;
}

.game-card p {
    margin-top: 5px;
    font-size: 18px;
}
